:root {
  --el-color-primary: #4759c5;
  --el-color-primary-light-3: #8a96e0;
  --el-color-primary-light-5: #aeb6e9;
  --el-color-primary-light-7: #d2d6f2;
  --el-color-primary-light-8: #e4e6f7;
  --el-color-primary-light-9: #f6f7fc;
  --el-color-primary-dark-2: #39479e;
}